/* Project : Maë On Track */
/* Developer : Madi Jason */
/* Version : 1.0.0 Falcon */

/* Global styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#main {
    width: 100%;
    height: calc(100vh - 100px);
    overflow: hidden;
}

::selection {
    background: #C1A1DB;
}

/* Navigation bar style */
#navbar {
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: #C1A1DB;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#navbar a {
    display: inline-block;
    width: 150px;
    height: 60px;
    margin: 5px;
    border-radius: 10px;
    background-color: #3B6064;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

#navbar a:hover {
    background-color: #C9E4CA;
    color: #3B6064;
}

#navbar a.active {
    background-color: #364958;
}

/* Ribbons styles */
.ribbon {
    width: 50px;
    padding: 0;
    position: absolute;
    background-color: #ff9800;
    transform: rotate(20deg);
    border-radius: 50px;
    font-size: 12px;
    color: black;
    visibility: visible;
}

/* Cards styles */
.card {
    width: calc(33.33% - 20px);
    height: 200px;
    margin: 10px;
    padding: 4px;
    background-color: #364958;
    border-radius: 12px;
    display: inline-block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    color: #C9E4CA;
    vertical-align: top;
}

.extended-card {
    width: calc(100% - 40px);
    height: 150px;
    padding: 4px;
    margin-bottom: 5%;
    margin: 20px;
    background-color: #364958;
    border-radius: 12px;
    color: #C9E4CA;
    display: flex;
    align-items: center;
}

.extended-card img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 12px;
}

.content {
    padding: 5px;
    flex-grow: 1;
    margin-right: 10px;
}

.short-card {
    width: 100px;
    height: 200px;
    margin: 10px;
    background-color: #364958;
    border-radius: 12px;
    float: left;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.card:hover,
.extended-card:hover,
.short-card:hover {
    transform: scale(1.1);
    background-color: #C9E4CA;
    cursor: pointer;
}

/* Home styles */
.index {
    overflow-x: auto;
    white-space: nowrap;
}

.column {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
}

/* Actus styles */
.actu {
    padding-left: 10px;
}

.actu-title {
    padding: 0;
    margin-bottom: 0;
    font-size: 38px;
}

.actu-intel {
    padding: 0;
    margin: 0;
}

.actu-text {
    padding: 0;
    font-size: 18px;
}

/* Articles styles */
.shared {
    display: flex;
}

#articles-navbar {
    width: 100%;
    height: 50px;
    background-color: #C9E4CA;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#articles-navbar a {
    display: inline-block;
    width: 150px;
    height: 30px;
    margin: 0 5px;
    border-radius: 10px;
    background-color: #C1A1DB;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#articles-navbar a:hover {
    background-color: #364958;
    color: white;
}

#brand-navbar {
    padding: 15px;
    width: 200px;
    height: 100%;
    background-color: #C1A1DB;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#brand-navbar a {
    display: inline-block;
    width: 150px;
    height: 60px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: #C9E4CA;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#brand-navbar a:hover {
    background-color: #3B6064;
    color: white;
}

.article {
    padding-left: 10px;
}

.article-title {
    padding: 0;
    margin-bottom: 0;
}

.article-intel {
    padding: 0;
    margin: 0;
}

.article-text {
    padding: 0;
}

/* About styles */
.about-title {
    margin: 20px;
    background-image: linear-gradient(to right, #3B6064, #C1A1DB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Interview style */
.interview-name {
    font-size: 25px;
}

/* Responsive Section */
@media screen and (max-width: 1200px) {
    #main {
        margin-top: 60px;
        padding-bottom: 60px;
        overflow-y: auto;
    }

    .index {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    .section {
        margin-bottom: 20px;
    }

    .card,
    .short-card {
        width: 100%;
    }
}