/* Utiliser la police Poppins pour l'ensemble du site */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Style pour centrer le navbar */
#navbar {
    background-color: #C1A1DB;
    text-align: center;
    padding: 10px; /* Réduire le padding */
    height: 200px; /* Hauteur fixée */
    box-sizing: border-box; /* Inclure les paddings dans la hauteur */
}

/* Style pour le titre */
.title {
    margin: 0;
    font-size: 48px; /* Réduire la taille du titre */
    color: #364958;
    margin-bottom: 10px; /* Réduire l'espace entre le titre et le reste de la navbar */
}

/* Style pour le lien de navigation */
#navbar a {
    display: inline-block;
    width: 150px; /* Réduire la largeur des liens */
    height: 60px; /* Réduire la hauteur des liens */
    margin: 0 5px; /* Réduire la marge entre les liens */
    border-radius: 10px; /* Réduire le rayon de la bordure */
    background-color: #3B6064;
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 60px; /* Centrer verticalement le texte */
    text-decoration: none;
}

/* Style pour le lien de navigation actif */
#navbar a:hover {
    display: inline-block;
    width: 150px; /* Réduire la largeur des liens */
    height: 60px; /* Réduire la hauteur des liens */
    margin: 0 5px; /* Réduire la marge entre les liens */
    border-radius: 10px; /* Réduire le rayon de la bordure */
    background-color: #C9E4CA;
    color: #3B6064;
    text-align: center;
    font-size: 24px;
    line-height: 60px; /* Centrer verticalement le texte */
    text-decoration: none;
}

/* Style pour le logo */
#navbar img {
    vertical-align: middle;
}

#navbar a.active {
    background-color: #364958;
}

#navbar img:hover {
    
}

/* Style pour le contenu principal */
#main {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
}

.col {
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
}

#left {
    background-color: #f0f0f0;
}

#right {
    background-color: #e0e0e0;
}

.cat {
    display: flex;
    flex-direction: column;
}

.card {
    float: left;
    height: 200px;
    width: 100px;
    background-color: #364958;
    border-radius: 12px;
    margin: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: scale(1.1); /* Grow the card */
    background-color: #C9E4CA; /* Change the background color */
    cursor: pointer; /* Change cursor to pointer */
}

.big-card {
    float: left;
    height: 200px;
    width: 250px;
    background-color: #364958;
    border-radius: 12px;
    margin: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.big-card:hover {
    transform: scale(1.1); /* Grow the card */
    background-color: #C9E4CA; /* Change the background color */
    cursor: pointer; /* Change cursor to pointer */
}

/* Media query pour afficher les liens verticalement uniquement si la taille est inférieure à 768px */
/* Temporaire */
@media screen and (max-width: 1000px) {
    #navbar {
        flex-direction: column;
        align-items: center;
        height: auto; /* Annuler la hauteur fixe */
    }

    #navbar a {
        font-size: 12px;
        height: 25px;
        line-height: 25px;
        width: 100px;
    }

    #main {
        flex-direction: column; /* Mettre les colonnes l'une en dessous de l'autre */
    }

    .col {
        flex: none; /* Annuler la flexibilité pour forcer les colonnes à occuper la largeur disponible */
    }

    .big-card {
        float: none;
    }
}